version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 1
    versioning-strategy: increase
    labels: ["dependencies", "automated"]
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
    groups:
      all-patches:
        patterns: ["*"]
        update-types: ["patch"]
