.productsHolder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: transparent;
  background: linear-gradient(to top, #ccc, transparent);
}
.productsHolderRow {
  display: flex;
  padding: 0px 100px;
}
@media (max-width: 800px) {
  .productsHolderRow {
    flex-wrap: wrap;
  }
  .productsHolderRow {
    flex-wrap: wrap;
    justify-content: center;
  }
}
