* {
  margin: 0;
  padding: 0;
}
:root {
  --orange-color: #f79b34;
}
body {
  font-family: "Montserrat", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: 4em;
}
