.header {
  background-color: #222;
  color: #fff;
  display: flex;
  position: fixed;
  top: 0;
  flex-wrap: nowrap;
  z-index: 1000;
  height: 3em;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  max-width: 1500px;
}
.leftSide {
  width: 100%;
  display: flex;
}
.rightSide {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.loginBox {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: var(--orange-color);
}
.userLogin {
  font-size: 15px;
}
.userLoginDetail {
  font-weight: 300;
  font-size: 11px;
}
.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.linkItem {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  opacity: 0.7;
  margin: 0px 10px;
  transition: 0.1s all linear;
}
.linkItem:hover {
  opacity: 1;
}
.linkItem p {
  font-weight: 300;
  font-size: 11px;
}
.active {
  color: #f79b34;
  opacity: 1;
}
/* MEDIA */
@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    height: 4em;
  }
  .rightSide {
    width: 100%;
    justify-content: space-around;
    margin-top: 0.5em;
  }
  .headerLinks {
    width: 100%;
    justify-content: space-between;
  }
}
